* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('../src/images/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

:root {
  --card-backg: #271513;
  --card-border: #EBC061;
  --off-white: #fcf1eb;
  --black: #22181c;
  --brown: #5e574d;
}

#title {
  color: var(--off-white)
}

.drink-card {
  margin: 10px 0px;
  width: 350px;
  border-radius: 10px;
  color: var(--off-white);
  border: 2px solid var(--card-border);
  background-color: var(--card-backg);
  box-shadow: var(--black) 3px 3px 5px;
}
.drink-card:hover {
  transform:scale(1.02);
}
.drink-card img {
  width: 150px;
}

button {
  display: block;
}
